.menu-button {
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.menu-button:hover {
    background-color: #0056b3;
}